# :: NODE MODULES ---------- :: ---------- ::
node_modules
# :: EXPO ------------------ :: ---------- ::
.expo
# :: IDE ------------------- :: ---------- ::
/.idea
# :: BUILD ----------------- :: ---------- ::
android